GRPC_PORT=8084
DATABASE_URL=postgres://shop:shop@postgres:5432/order_db?sslmode=disable
LOG_LEVEL=info
CART_GRPC_ADDR=cart:8083
CATALOG_GRPC_ADDR=catalog:8082
PAYMENT_GRPC_ADDR=payment:8086
JWT_SECRET=ZGV2LXNlY3JldC1jaGFuZ2UtbWU=
