# Shared
JWT_SECRET=ZGV2LXNlY3JldC1jaGFuZ2UtbWU=

# Postgres
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Infra ports (host)
ADMINER_PORT=8089
ENVOY_HTTP_PORT=8090
ENVOY_GRPC_PORT=8443
ENVOY_ADMIN_PORT=9901
