HTTP_PORT=8080
AUTH_GRPC_ADDR=localhost:8081
CATALOG_GRPC_ADDR=localhost:8082
CART_GRPC_ADDR=localhost:8083
ORDER_GRPC_ADDR=localhost:8084
PAYMENT_GRPC_ADDR=localhost:8086
LOG_LEVEL=info
CORS_ORIGINS=*
